.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    background-color: rgb(255, 242, 129);
    grid-row: 1/5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:space-between;
}

.directory1 li, .logo{
    list-style: none;
    font-family: 'Sen', sans-serif;
    font-size:  1.5rem;
    cursor: pointer;
    text-align: center;
    
}

.directory1{
    text-align: center;
}



#search {

}