:root{
    --main-color:rgb(255, 215, 129);
    --main-color-2:rgb(255, 189, 47);
    --main-font-family:font-family: 'Sen', sans-serif;
}

body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.sidebar{
    background-color: var(--main-color);
    grid-row: 1/6;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content:space-around;
}


.directory1 {
    position: relative;
}

.directory1 Li, .logo{
    display: flex;
    gap: 10px;
    list-style: none;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10%;
}

.directory1 li:Hover{
    font-weight: bold;
}

.topRightHeader p, .bottomLeftHeader p:nth-child(3) {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size:  1.5rem;
    cursor: pointer;
    text-align: center; 
}


.header{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    box-shadow: 2em 0.5em 1em gray;
    z-index: 2;

}

.searchbar{
    position: relative;
    margin-left: 20px;
}

#search{
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
    border-style: none;
    border: 2px transparent rgb(78, 78, 78);
    width: 400px;
    height: 30px;
}

svg{
    cursor: pointer;
    flex-shrink: 0;
}

.searchbar svg{
    color: rgb(68, 68, 68);
    position: absolute;
    top: 5px;
    left: -30px;
}

.topRightHeader{
    grid-column: -1/-2;
    justify-self: end;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}

img{
    width: 40px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    cursor: pointer;
    background-color: rgb(0, 183, 255);
    border-radius: 50%;
}

.bottomLeftHeader{
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
  
    
}

.bottomLeftHeader p:nth-child(2){
    font-family: 'Sen', sans-serif;
    font-size: 0.8rem;
}

.bottomRightHeader{
    justify-self: end;
    align-self: end;
}

.bottomRightHeader button{
    width: 80px;
    height: 40px;
    border-radius: 15%;
    margin: 5px;
    box-shadow: 0.2em 0.2em 0.5em rgb(197, 197, 197);
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
}

.bottomRightHeader button:hover{
    background-color: var(--main-color-2);
}

.headerMainText{
    justify-self: center;
}
.headerMainText>h1{
    font-family: var(--main-font-family);
    font-size: 2rem;
}

.mainBody{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projectShowcase {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: rgb(223, 223, 223);
    align-content: start;
    position: relative;
    gap: 1rem;
    padding: 5%;
}

.announcementShowcase {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(auto-fit, 1fr);
    background-color:rgb(223, 223, 223);
    align-content: start;
    gap: 1rem;
    padding: 5%;  
}

.trendingShowcase{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(auto-fit, 1fr);
    align-content: flex-start;
    background-color:rgb(223, 223, 223);
    gap: 1rem;
    padding: 5%;
}

.projectShowcase>div, .announcementShowcase>div, .trendingShowcase>div {
    background-color: rgb(255, 255, 255);
    font-family: var(--main-font-size);
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-left: 12px solid var(--main-color);
    cursor: pointer;
    box-shadow: 0.5em 0.5em 1em rgb(197, 197, 197);
    padding: 5%;
    box-sizing: border-box;
    
}

.projectShowcase > div:hover, .announcementShowcase > div:hover, .trendingShowcase > div:hover{
    border-left: 12px solid var(--main-color-2);
    box-sizing: border-box;
}

.projectShowcaseSvgs{
    position: relative;
    margin: 5%;
    bottom: 5%;
    left: -4%;
}

.projectShowcaseSvgs svg {
    position: relative;
    margin: 1%;
}
.projectShowcaseSvgs svg:hover {
bottom: 15%;
}


.projectShowcase p{
    font-weight:100;
}

.announcementShowcase p{
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 15%;
    border-bottom: 0.1rem solid rgb(230, 230, 230);
}



.trendingShowcase p{
    font-size: 1rem;
    font-weight: 100;

}
.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    align-self: stretch;
}

.profile:hover{
    background-color: var(--main-color);
}

.profile img{
    align-self: center;
    grid-row: 1/-1;
}

.profile>p{
    align-self:flex-start;
}

.projectShowcase h1 {
    font-family: var(--main-font-size);
    font-size: 1.6rem;
    grid-column:  1/-1;
}

.announcementShowcase h1, .trendingShowcase h1{
    font-family: var(--main-font-size);
    font-size: 1.6rem;
}

 h2{
    align-self: flex-start;
    font-family: var(--main-font-size);
    font-size: 1rem;
}

.trendingShowcase a{
    font-size: 0.5rem;
    text-decoration: none;
    color:  var(--main-color-2);
}






